@{
  ViewData["Title"] = "Home";
}

<div class="col-8 m-auto box-shadow">
  <table class="table table-hover table-dark mt-4">
    <thead>
      <tr>
        <th scope="col">Wedding Of</th>
        <th scope="col">Date</th>
        <th scope="col">Guest Count</th>
        <th scope="col" class="col-2">Action</th>
      </tr>
    </thead>
    <tbody>


      @{
        foreach (Wedding? w in ViewBag.AllWeddings)
        {
          <tr>
            <td>
              <a asp-controller="Home" asp-action="ShowWedding" asp-route-wedId="@w.WeddingId">@w.WedderOne &
                @w.WedderTwo</a>
            </td>
            <td>@w.WeddingDate</td>
            <td>@w.PeopleGoing.Count</td>
            @if (Context.Session.GetInt32("UserId") == w.UserId)
            {
              <td>
                <form asp-action="DestroyWedding" asp-controller="Home" asp-route-wedId="@w.WeddingId" method="post">
                  <input type="submit" class="btn btn-danger" value="Delete">
                </form>
              </td>
            }
            else
            {
              bool alreadyGoing = w.PeopleGoing.Any(r => r.UserId == Context.Session.GetInt32("UserId"));
              <td>
                @if (alreadyGoing)
                {
                  <form asp-action="RSVPToggle" asp-controller="Home" asp-route-wedId="@w.WeddingId" method="post">
                    <input type="submit" class="btn btn-primary" value="Un-RSVP">
                  </form>
                }
                else
                {
                  <form asp-action="RSVPToggle" asp-controller="Home" asp-route-wedId="@w.WeddingId" method="post">
                    <input type="submit" class="btn btn-primary" value="RSVP">
                  </form>
                }
              </td>
            }
          </tr>
        }
      }
    </tbody>
  </table>
</div>